.row.form-group
  .col-md-12
    .input-group.input-group
      %i.glyphicon.glyphicon-picture.input-group-addon
      = form.input :picture, label: false, input_html: { title: form.object.picture_file_name }
- if form.object.picture?
  = form.input :picture_cache, as: :hidden
  - label_text = "Remove Current Picture"
  = form.input :remove_picture, as: :boolean, label: false, inline_label: label_text, input_html: { class: 'checkbox checkbox-inline' }
  %br
