html {
    height:100%;
    background-image: url(image_path("tablecloth-pattern-green.jpg"));
    /* background-color: #e5ccff; */
    /* background-image: */
    /* linear-gradient(90deg, transparent 50%, white 50%), */
    /* linear-gradient(45deg, rgba(255, 255, 255, .3) 25%, */
    /* 		    transparent 25%, transparent 50%, */
    /* 		    rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, */
    /* 		    transparent 75%, transparent); */
    /* background-size:100% 100%, 100px 100px; */
}

body {
    /* min-height:100%; */
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background: white;
    margin: 100px auto 20px auto;
    width: 920px;
    padding: 20px 20px 20px 20px;
    border-style: solid;
    border-radius: 25px;
    /* box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.5); */
}

.ingredients {
    font-family: courier;
    font-size: 15px;
    font-weight: bold;
    line-height: 21px;
}

.references {
    font-family: courier;
}

h1, h2, h3, h4 {
    font-family: 'Gravitas One', cursive;
}

h1 {
    text-align: center;
}

.recipe-directions p {
    font-size: 15px;
}

.login-menu {
    font-family: 'Open Sans', sans-serif;
    float: right;
}

input[type="submit"]
{
    width: 50px;
    height: 50px;
    background:url(image_path("finished-icon.png"));
}