.panel-basic {
  border-color: #dddddd;
}
.panel-basic > .panel-heading {
  color: #333333;
  /* background-color: #f5f5f5; */
  border-color: #dddddd;
}
.panel-basic > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
.panel-basic > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.panel-basic > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
