.modal-dialog
  .modal-content
    = simple_form_for @item, remote: true do |f|
      .modal-body
        %ul.errors

        = f.input :name
      .modal-footer    
        = f.button :submit, 'Update'
        = link_to 'Cancel', '#', data: { dismiss: 'modal' }

        
